# folder
bin
coverage
src
tests

# files
.editorconfig
.gitignore
.gitlab-ci.yml
.huskyrc
.prettierignore
.prettierrc
docker-compose.yml
Dockerfile
jest.ci.js
jest.json
tsconfig.build.json
tsconfig.json
tslint.json
